body {
    font-family: 'Roboto', sans-serif;
    
    
}

#navbar {
    height: 250px;
       
        
}

#navbar-container {
    display: flex;
    flex-direction: column;
    padding: 20px 10;
    
    
}

#navbar-items {
    justify-content: center;
    text-align: center;
    width: 100%;
   
}

/*cabeçario*/

.logo {
    font-size: 1.4rem;
}

/* Showcase*/

#showcase {
    display: flex;
    
}

#showcase-container {
    padding: 0px;
    height: 80px;
    padding-top: 30px;
    
}

/*features - diferencial*/

#features-container {
    grid-template-columns: 1fr;
    
}

#features-container .feature:nth-child(2) {
    margin: 15px 0;
    
}

/* Product - serviços*/

#features-container-servicos {
    /*grid-template-columns: 1fr;*/
    display: flex;
    flex-direction: column;
    border-radius: 1px black;
    
}

#feature-servicos {
    width: 2px;
    margin: 1px 0;
}

#features-servicos {
        padding-top: 10px;
      
    
}

/* Contatos*/

.imagem-contato {
    display: none;    
}


