body {
    font-family: 'Roboto', sans-serif;
    
    
}

.logotipo {
    padding-top: 0px;
    max-width: 40px;
}

#navbar {
    height: 100px;
        
        
}

#navbar-container {
    display: flex;
    flex-direction: column;
    /*padding: 20px 10;*/
    
    
}

#navbar-items {
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
   
}

.headline {
    font-size: 1.0rem;
   
   
}

/*cabeçario*/

.logo {
    font-size: 1.2rem;
}

/* Showcase*/

#showcase {
    display: flex;
    
}

#showcase-container {
    padding: 0px;
    height: 80px;
    padding-top: 30px;
    
}

/*features - diferencial*/

#features-container {
    grid-template-columns: 1fr;
    
}



/* Product - serviços*/

#features-container-servicos {
    /*grid-template-columns: 1fr;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    background-color: aqua;
    
}

#feature-servicos {
    display: flex;
    flex-direction: column;
    width: 2px;
    margin: 1px 0;
    background-color: aqua;
}

#features-servicos {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
   
    
}

/* Contatos*/

.imagem-contato {
    display: none;    
}


