@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    font-family: 'Roboto', sans-serif;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
}

a {
    text-decoration: none;
    color: inherit;
    
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1,1rem;
    text-transform: uppercase;
    background: #eee;
    border-radius: 5px;
    transition: backgroun 500ms ease;
    color: #000;
}

.btn:hover {
    cursor: pointer;
    background: #000;
    color: #eee;
}

.headline {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
    letter-spacing: 2px;
    padding-top: 50px;
   
}

/*Navbar */

#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logotipo {
    padding-top: 50px;
       
}

.logo {
    font-size: 2rem;
      
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px;
}

#navbar-items li:hover {
    /*cursor: pointer;
    background: #aaa;
    color: #eee;*/
    border-radius: 5px;
    animation: pulsate 0.5s ease-in-out;
}

@keyframes pulsate {
    0% {
        box-shadow:
        0 0 25px #5ddcff;
        
    }

}

/*Showcase - Inicio*/

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url("../imagens/show-case.jpg") no-repeat center center/cover;
    
/* Overlay*/
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
}

#showcase-container {
    text-align:center;
    
}   

#showcase-container h2 {
    font-size: 2.5rem;
    
}

#showcase-container p {
    font-size: 1.3rem;
    padding: 30px 0;
    
}

/* clients - contato*/

#contato {
    width: 100%;
    background: #eee;
    color: #111;
    padding: 50px;
}

#contato-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;

}

.contato {
    display: inline-block;
    width: 25%;
}


/* Nosso Diferencial - Sobre - Features */

#features {
    width: 100%;
    /*background: #eee;*/
    color: #333;
    padding: 75px;
    padding-top: 40px;
    text-align: justify;
    background-color: white;
           
}

#features-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    padding-top: 10px;
    
}

.feature {
    display: flex;
    flex-direction: column;
    background-color:lightblue;
    padding: 20px;
    border-radius: 5px;
        
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 4px 2px;
    text-align: left;
    
}

/*Serviços*/

.feature-servicos {
    height: 74vh;
    display: flex;
    flex-direction: column;
    /*background: #eee;*/
    padding: 20px;
    border-radius: 5px;
    background-color: #eee;
}

#features-container-servicos {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3px;
    
    
}

#features-servicos {
    width: 100%;
    background: white;
    color: #222;
    padding: 50px;
    text-align: justify;
    
     
}

/* Contato*/

.imagem-contato {
    width: 10%;
    height: 5%;
        
}

#contato {
    width: 100%;
    padding: 50px;
    background-color:white;
    padding-top: 5px;
    
}

#contato-container {
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}

#items {
    width: 900px;
    
}

#items .item {
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
    column-gap: 15px;
   
}

/* footer*/

#footer {
    background: #222;
    color: #eee;
    padding: 20px;
    text-align: center;
    font-size: 13px;
}